<%= render 'mapa' %>
<%= nested_form_for @rescue, :html => { :class => 'form-horizontal', :role => 'form' } do |f| %>
  <% if @rescue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rescue.errors.count, "error") %> prohibited this rescue from being saved:</h2>

      <ul>
      <% @rescue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="col-md-8 column">
  <div class="row">
    <div class="col-md-12 column">
      <div class="well">
        <fieldset>
        <div class="row">
          <div class="col-md-5 column">
            <div class="form-group">
              <%= f.label :numero_caso, "Numero de caso" %><br>
              <%= f.text_field :numero_caso, :class=>'form-control input-sm', :readonly => true, :value => @emergency.numero_caso %>
             </div>
          </div>
          <div class="col-lg-2">
            <div class="form-group">
              
            </div>
          </div>
          <div class="col-md-5 column">
            <div class="form-group">
              <%= f.label :lugar_incidente, "Lugar del incidente" %><br>
              <%= f.text_field :lugar_incidente, :class=>'form-control input-sm', :value => @emergency.lugar %>
              <input type="button" value="Geocode" onclick="codeAddress()">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5 column">
            <div class="form-group">
             
            </div>
          </div>
          <div class="col-md-2 column">
            <div class="form-group">
              
            </div>
          </div>
          <div class="col-md-5 column">
            <div class="form-group" >
              <%= f.label :hora_incidente, "Hora" %><br>
              <%= f.text_field :hora_incidente, :class=>'form-control input-sm', :value => @emergency.hora_salida.strftime("%Y/%m/%e %I:%M") %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 column">
            <div class="form-group">
              <%= f.label :descripcion_incidente, "Descripcion del incidente" %><br>
              <%= f.text_area :descripcion_incidente, :class=>'form-control' %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5 column">
            <div class="form-group">
              <%= f.label :observaciones, "Observaciones" %><br>
              <%= f.text_area :observaciones, :class=>'form-control' %>
            </div>
          </div>
          <div class="col-md-2 column">
            <div class="form-group">
              
            </div>
          </div>
          <div class="col-md-5 column">
            <div class="form-group" >
              <%= f.label :danos_materiales, "Daños materiales" %><br>
              <%= f.text_area :danos_materiales, :class=>'form-control' %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5 column">
            <div class="form-group">
              <label for="exampleInputPassword1">Jefe de brigada</label>
              <%= f.collection_select :jefe_brigada, User.all, :nombre_completo, :nombre_completo, {prompt: "Seleccionar"}, {class: "form-control input-sm"} %>
            </div>
          </div>
          <div class="col-md-2 column">
            <div class="form-group">
              
            </div>
          </div>
          <div class="col-md-5 column">
            <div class="form-group">
              <label for="exampleInputPassword1">Jefe de seguridad</label>
              <%= f.collection_select :jefe_seguridad, User.all, :nombre_completo, :nombre_completo, {prompt: "Seleccionar"}, {class: "form-control input-sm"} %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <%= f.hidden_field :emergency_id, :value => @emergency.id%>
        </div>
        <div class="form-group">
          <%= f.hidden_field :latitude, :value => @emergency.latitude %>
        </div>
        <div class="form-group">
          <%= f.hidden_field :longitude, :value => @emergency.longitude %>
        </div>
         <%= f.fields_for :assist_rescues %>
        <p><%= f.link_to_add "Agregar Bombero", :assist_rescues, :class=> 'btn btn-success pull-right' %></p>
        <BR>
        <%= f.fields_for :rescue_material_useds %>
        <p><%= f.link_to_add "Agregar material", :rescue_material_useds, :class=> 'btn btn-success pull-right' %></p>
        <BR>
        <%= f.fields_for :rescue_affected_people %>
        <p><%= f.link_to_add "Agregar persona afectada", :rescue_affected_people, :class=> 'btn btn-success pull-right' %></p>
        <BR>
        <%= f.fields_for :rescue_institutions %>
        <p><%= f.link_to_add "Agregar intitucion", :rescue_institutions, :class=> 'btn btn-success pull-right' %></p>
        <BR>
        <div class="form-group">
          <input type="submit" value="Registrar Formulario" class="btn btn-primary">
        </div>
        </fieldset>
      </div>
    </div>
  </div>
</div>
<% end %>

  <div class="col-md-4 column">
    <div id="map" style="width:500px; height:500px"></div>
  </div>