<br>
<div class="col-md-12">
  <div class="page-header">
       <h2 id="forms">Formulario de incendios</h2>
  </div>
</div>
<div class="col-md-12">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-lg-4">
          <div class="field">
            <h4><strong>Numero de caso:</strong>
            <%= @fire.numero_caso %></h4>
          </div>
        </div>
        <div class="col-md-4">
          <div class="field">
            <h4><strong>Lugar:</strong>
            <%= @fire.lugar_incidente %></h4>              
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-4">
          <div class="field">
            <h4><strong>Fecha:</strong>
            <%= @fire.created_at.strftime("%d/%m/%Y") %></h4>
          </div>
        </div>
        <div class="col-md-4">
          <div class="field">
            <h4><strong>Hora:</strong>
            <%= @fire.hora_incidente.strftime("%H:%M") %></h4>              
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-4">
          <div class="field">
            <h4><strong>Descripcion:</strong>
            <%= @fire.descripcion_incidente %></h4>
          </div>
        </div>
        <div class="col-md-4">
          <div class="field">
            
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-4">
          <div class="field">
            <h4><strong>Jefe de brigada:</strong>
            <%= @fire.jefe_brigada %></h4>
          </div>
        </div>
        <div class="col-md-4">
          <div class="field">
            <h4><strong>Jefe de seguridad:</strong>
            <%= @fire.jefe_seguridad %></h4>            
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="page-header">
          <h3>Bomberos que intervinieron</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <div class="field">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Apellido Paterno</th>
                  <th>Apellido Materno</th>
                </tr>
              </thead>
              <tbody>
                <% @fire.assist_fires.each do |a| %>
                <tr>
                  <td><%= a.user.nombre %></td>
                  <td><%= a.user.apellido %></td>
                  <td><%= a.user.ap_materno %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="page-header">
          <h3>Materiales utilizados</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <div class="field">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Codigo</th>
                  <th>Nombre</th>
                </tr>
              </thead>
              <tbody>
                <% @fire.fire_material_useds.each do |m| %>
                <tr>
                  <td><%= m.material.codigo %></td>
                  <td><%= m.material.nombre_material %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="page-header">
          <h3>Personas afectadas</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <div class="field">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Telefono</th>
                </tr>
              </thead>
              <tbody>
                <% @fire.fire_affected_people.each do |ap| %>
                <tr>
                  <td><%= ap.nombre %></td>
                  <td><%= ap.telefono %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="page-header">
          <h3>Instituciones que intervinieron</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <div class="field">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Trabajo realizado</th>
                </tr>
              </thead>
              <tbody>
                <% @fire.fire_institutions.each do |i| %>
                <tr>
                  <td><%= i.nombre %></td>
                  <td><%= i.trabajo %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="field">
    <a href="<%=formularios_path(@emergency)%>" class="btn btn-default btn-sm active" role="button">Volver</a>
    <%= link_to "Imprimir formulario (PDF)", fire_path(@fire, format: "pdf"), class:"btn btn-default btn-sm active" %>
  </div>
</div>