<p id="notice"><%= notice %></p>
<br>
<div class="col-lg-12">
  <div class="page-header">
       <h2 id="forms">Formulario de Explosivos</h2>
  </div>
</div>
<div class="col-lg-12">
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-4">
          <div class="field">
            <h4><strong>Numero de caso:</strong>
            <%= @explosive.numero_caso %></h4>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="field">
            <h4><strong>Lugar:</strong>
            <%= @explosive.lugar_incidente %></h4>              
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-lg-4">
          <div class="field">
            <h4><strong>Fecha:</strong>
            <%= @explosive.fecha %></h4>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="field">
            <h4><strong>Hora:</strong>
            <%= @explosive.hora_incidente %></h4>              
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-lg-4">
          <div class="field">
            <h4><strong>Descripcion:</strong>
            <%= @explosive.descripcion_incidente %></h4>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="field">
            <h4><strong>Material Utilizado:</strong>
            <%= @explosive.material_utilizado %></h4>              
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-lg-4">
          <div class="field">
            <h4><strong>Observaciones:</strong>
            <%= @explosive.observaciones_incidente %></h4>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="field">            
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-lg-4">
          <div class="field">
            <h4><strong>Jefe de brigada:</strong>
            <%= @explosive.jefe_brigada %></h4>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="field">
            <h4><strong>Jefe de seguridad:</strong>
            <%= @explosive.jefe_seguridad %></h4>            
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="field">
    <a href="<%=formularios_path(@emergency)%>" class="btn btn-default btn-sm active" role="button">Volver</a>
  </div>
</div>