<br>
<br>
<div class="col-lg-6">
  <div class="page-header">
       <h1 id="forms">Formularios</h1>
  </div>
</div>
<div class="col-lg-12">
  <div>
    <h3 id="forms">Explosivos</h3>
  </div>
  <div class="well">
    <div class="row">
      <div class="col-lg-12">
        <% @explosivos.each do |e| %>
          <% if e.emergency_id == @emergencia.id %>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Numero caso</th>
                  <th>Fecha</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><%= e.numero_caso %></td>
                  <td><%= e.fecha %></td>
                  <td align="center"><%= link_to 'Mostrar', e %> |
                      <%= link_to 'Editar', edit_explosife_path(e) %> |   
                      <%= link_to 'Eliminar', e, method: :delete, data: { confirm: 'Esta seguro?' } %></td>
                </tr>
              </tbody>
            </table>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div>
    <h3 id="forms">Incendios</h3>
  </div>
  <div class="well">
    <div class="row">
      <div class="col-lg-12">
        <% @incendios.each do |i| %>
          <% if i.emergency_id == @emergencia.id %>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Numero caso</th>
                  <th>Fecha</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><%= i.numero_caso %></td>
                  <td><%= i.created_at %></td>
                  <td align="center"><%= link_to 'Mostrar', i %> |
                      <%= link_to 'Editar', edit_fire_path(i) %> |   
                      <%= link_to 'Eliminar', i, method: :delete, data: { confirm: 'Esta seguro?' } %></td>
                </tr>
              </tbody>
            </table>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <a href="<%=emergencies_path%>" class="btn btn-default btn-sm active" role="button">Volver</a>
</div>