<br>
<br>
<div class="col-md-6">
  <div class="page-header">
       <h1 id="forms">Formularios</h1>
  </div>
</div>
<div class="col-md-8">
  <div>
    <h3 id="forms">Explosivos</h3>
  </div>
  <div class="well">
    <div class="row">
      <div class="col-md-12">
        <% @explosivos.each do |e| %>
          <% if e.emergency_id == @emergencia.id %>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Numero caso</th>
                  <th>Fecha</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td style= 'cursor:pointer' onclick=<%="document.location.href='/explosives/"+e.id.to_s+"'"%>><%= e.numero_caso %></td>
                  <td style= 'cursor:pointer' onclick=<%="document.location.href='/explosives/"+e.id.to_s+"'"%>><%= e.created_at.strftime("%Y/%m/%e %I:%M") %></td>
                  <td align="center"><%= link_to 'Editar', edit_explosife_path(e), :class => 'btn btn-primary btn-sm active','data-no-turbolink' => true %></td>
                </tr>
              </tbody>
            </table>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div>
    <h3 id="forms">Incendios</h3>
  </div>
  <div class="well">
    <div class="row">
      <div class="col-md-12">
        <% @incendios.each do |i| %>
          <% if i.emergency_id == @emergencia.id %>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Numero caso</th>
                  <th>Fecha</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td style= 'cursor:pointer' onclick=<%="document.location.href='/fires/"+i.id.to_s+"'"%>><%= i.numero_caso %></td>
                  <td style= 'cursor:pointer' onclick=<%="document.location.href='/fires/"+i.id.to_s+"'"%>><%= i.created_at.strftime("%Y/%m/%e %I:%M") %></td>
                  <td align="center"><%= link_to 'Editar', edit_fire_path(i), :class => 'btn btn-primary btn-sm active','data-no-turbolink' => true %></td>
                </tr>
              </tbody>
            </table>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div>
    <h3 id="forms">Rescates</h3>
  </div>
  <div class="well">
    <div class="row">
      <div class="col-md-12">
        <% @rescates.each do |r| %>
          <% if r.emergency_id == @emergencia.id %>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Numero caso</th>
                  <th>Fecha</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td style= 'cursor:pointer' onclick=<%="document.location.href='/rescues/"+r.id.to_s+"'"%>><%= r.numero_caso %></td>
                  <td style= 'cursor:pointer' onclick=<%="document.location.href='/rescues/"+r.id.to_s+"'"%>><%= r.created_at.strftime("%Y/%m/%e %I:%M") %></td>
                  <td align="center"><%= link_to 'Editar', edit_rescue_path(r), :class => 'btn btn-primary btn-sm active','data-no-turbolink' => true %></td>
                </tr>
              </tbody>
            </table>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div>
    <h3 id="forms">Atencion Prehospitalaria</h3>
  </div>
  <div class="well">
    <div class="row">
      <div class="col-md-12">
        <% @atencion.each do |a| %>
          <% if a.emergency_id == @emergencia.id %>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Numero caso</th>
                  <th>Fecha</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td style= 'cursor:pointer' onclick=<%="document.location.href='/pre_hospitals/"+a.id.to_s+"'"%>><%= a.numero_caso %></td>
                  <td style= 'cursor:pointer' onclick=<%="document.location.href='/pre_hospitals/"+a.id.to_s+"'"%>><%= a.created_at.strftime("%Y/%m/%e %I:%M") %></td>
                  <td align="center"><%= link_to 'Editar', edit_pre_hospital_path(a), :class => 'btn btn-primary btn-sm active','data-no-turbolink' => true %></td>
                </tr>
              </tbody>
            </table>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <%= link_to "Atras", @emergencia,'data-no-turbolink' => true, class:"btn btn-default btn-sm active" %>

</div>