<br>
<br>
<div class="row">
  <div class="col-md-6">
    <div class="page-header">
         <h1 id="forms">Emergencias</h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h4>Buscar por numero de caso, denunciante, direccion o sigla vehiculo</h4>
    <br>
    <%= form_tag emergencies_path, :method => 'get' do %>
    <%= text_field_tag :search, params[:search] %> Fecha: <%= text_field_tag :date, params[:date] %>
          <%= submit_tag "Buscar", :name => nil, :class => 'btn btn-primary btn ' %> 
    <% end %>
  </div>
</div>
<br>
<div class="col-md-12">
  <div class="well">
    <div class="row">
      <div class="col-md-12">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Numero caso</th>
              <th>Lugar</th>
              <th>Denunciante</th>
              <th>Observacion</th>
              <th>Despachador</th>
              <th>Tipo</th>
              <th></th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @emergencies.each do |emergency| %>
              <tr>
                <td style= 'cursor:pointer' onclick=<%="document.location.href='/emergencies/"+emergency.id.to_s+"'"%>><%= emergency.numero_caso %></td>
                <td style= 'cursor:pointer' onclick=<%="document.location.href='/emergencies/"+emergency.id.to_s+"'"%>><%= emergency.lugar %></td>
                <td style= 'cursor:pointer' onclick=<%="document.location.href='/emergencies/"+emergency.id.to_s+"'"%>><%= emergency.denunciante %></td>
                <td style= 'cursor:pointer' onclick=<%="document.location.href='/emergencies/"+emergency.id.to_s+"'"%>><%= emergency.observacion %></td>
                <td style= 'cursor:pointer' onclick=<%="document.location.href='/emergencies/"+emergency.id.to_s+"'"%>><%= emergency.user.nombre %></td>
                <td style= 'cursor:pointer' onclick=<%="document.location.href='/emergencies/"+emergency.id.to_s+"'"%>><%= emergency.tipo %></td>
                <td align="center"><%= link_to 'Editar', edit_emergency_path(emergency), :class => 'btn btn-primary btn-sm','data-no-turbolink' => true %></td>
                <td align="center"><a href="<%=formularios_path(emergency)%>" class="btn btn-primary btn-sm" role="button">Ver Formularios</a></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <a data-no-turbolink="true" href="<%=new_emergency_path%>" class="btn btn-danger btn-sm active" role="button">Registrar Emergencia</a>
  <BR>
  <center><%= paginate @emergencies %></center>
</div>
<script type="text/javascript">
  jQuery('#date').datetimepicker({
     format:'d/m/Y',
    timepicker:false
  });
</script>