<br>
<br>
<div class="row">
<div class="col-md-6">
  <div class="page-header">
       <h1 id="forms">Emergencias en curso</h1>
  </div>
</div>
</div>
<br>
<div class="col-md-12">
  <div class="well">
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Numero caso</th>
              <th>Lugar</th>
              <th>Denunciante</th>
              <th>Observacion</th>
              <th>Despachador</th>
              <th>Tipo</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @emergencies.each do |emergency| %>
              <tr>
              <% if emergency.estado == false %>
                <td style= 'cursor:pointer' onclick=<%="document.location.href='/emergencies/"+emergency.id.to_s+"'"%>><%= emergency.numero_caso %></td>
                <td style= 'cursor:pointer' onclick=<%="document.location.href='/emergencies/"+emergency.id.to_s+"'"%>><%= emergency.lugar %></td>
                <td style= 'cursor:pointer' onclick=<%="document.location.href='/emergencies/"+emergency.id.to_s+"'"%>><%= emergency.denunciante %></td>
                <td style= 'cursor:pointer' onclick=<%="document.location.href='/emergencies/"+emergency.id.to_s+"'"%>><%= emergency.observacion %></td>
                <td style= 'cursor:pointer' onclick=<%="document.location.href='/emergencies/"+emergency.id.to_s+"'"%>><%= emergency.user.nombre %></td>
                <td style= 'cursor:pointer' onclick=<%="document.location.href='/emergencies/"+emergency.id.to_s+"'"%>><%= emergency.tipo %></td>
                <td align="center"><%= link_to 'Emergencia resuelta', activo_path(emergency), :class => 'btn btn-success btn-sm' %></td>
              <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>
  <a data-no-turbolink="true" href="<%=new_emergency_path%>" class="btn btn-danger btn-sm active" role="button">Registrar Emergencia</a>
  <BR>
  <center><%= paginate @emergencies %></center>
</div>