<%= render 'map' %>
<div class="row">
	<div class="col-md-3">
		<%= form_tag report_emergencies_path, :method => 'get' do %>

			<fieldset>
			    <legend><h3>Filtros</h3></legend>
			    <div class="actions">
			        <div class="col-md-2 column">
            			<div class="form-group">
              
            			</div>
          			</div>
          			<div class="col-md-10 column">
            			<div class="form-group">
                  <div class="controls">
                    <%= label_tag :type, "Fecha inicio:", :class=>"control-label" %>
			        	    <label class="checkbox inline">
                      <%= text_field_tag :search, params[:search], :onchange => 'llenar()' %>
			              </label>
                    <%= label_tag :type, "Fecha fin:", :class=>"control-label" %>
                    <label class="checkbox inline">
			           	    <%= text_field_tag :fecha_fin, params[:fecha_fin] %>
			              </label>
			            </div>
			        <%= label_tag :type, "Tipo de emergencia:", :class=>"control-label" %>
			        
			        <div class="controls">
			        	<label class="checkbox inline">
                  <%= check_box_tag "types[]" , 'incendio', Emergency.check_box(params[:types],"incendio") %>
			           		Incendios
			            </label>
			        	<label class="checkbox inline">
			          		<%= check_box_tag "types[]" , 'explosivo', Emergency.check_box(params[:types],"explosivo") %>
			          		Explosivos
			            </label>
						<label class="checkbox inline">
			          		<%= check_box_tag "types[]" , 'prehospitalaria', Emergency.check_box(params[:types],"prehospitalaria") %>
			          		Atencion prehospitalaria
			            </label>
			            <label class="checkbox inline">
			          		<%= check_box_tag "types[]" , 'rescate', Emergency.check_box(params[:types],"rescate") %>
			          		Rescate
			            </label>
			        </div>
			      </div>
			      <div class="control-group">
			        <div class="controls">
			      		<%= submit_tag "Filtrar", :name => nil, :class => 'btn btn-primary btn ' %> 
			        </div>
			      </div>
			     </div>
			    </div>
    	</fieldset>
		<% end %>
	</div>
	<div class="col-md-9">
    	<div id="map-canvas">
    		
    	</div> 
	</div>
</div>
<br>
<br>
<div class="row">
	<div class="col-md-3">
    	<div class="form-group">
              <legend><h3><center>Incendios</center></h3></legend>
              <center>Cantidad de incendios: <%= Emergency.incendios(@emergencies) %></center>
        </div>
	</div>
	<div class="col-md-3">
    	<div class="form-group">
              <legend><h3><center>Atencion Prehospitalaria</center></h3></legend>
              <center>Cantidad de atenciones: <%= Emergency.pre_hospitals(@emergencies) %></center>
        </div>
	</div>
	<div class="col-md-3">
    	<div class="form-group">
              <legend><h3><center>Rescates</center></h3></legend>
              <center>Cantidad de rescates: <%= Emergency.rescates(@emergencies) %></center>
        </div>
	</div>
	<div class="col-md-3">
    	<div class="form-group">
              <legend><h3><center>Explosivos</center></h3></legend>
              <center>Cantidad de explosivos: <%= Emergency.explosivos(@emergencies) %></center>
        </div>
	</div>
</div>
<%= render 'pie' %>
    <div id="donutchart" style="width: 900px; height: 500px;"></div>

<script type="text/javascript">
  
 jQuery('#search').datetimepicker({
  format:'d/m/Y',
  onShow:function( ct ){
   this.setOptions({
    maxDate:jQuery('#fecha_fin').val()?jQuery('#fecha_fin').val():false
   })
  },
  timepicker:false
 });
 jQuery('#fecha_fin').datetimepicker({
  format:'d/m/Y',
  onShow:function( ct ){
   this.setOptions({
    minDate:jQuery('#search').val()?jQuery('#search').val():false
   })
  },
  timepicker:false
 });  
</script>
<script>
function llenar() {
    var $fecha_inicio = document.getElementById('search');
    var $fecha_fin = document.getElementById('fecha_fin');
    if ($fecha_fin.value ==""){
      $fecha_fin.value = $fecha_inicio.value;
    }
}
</script>

