<p id="notice"><%= notice %></p>
<br>
<div class="col-lg-12">
  <div class="page-header">
       <h2 id="forms">Emergencia</h2>
  </div>
</div>
<div class="col-lg-11">
  <div class="row">
    <div class="col-lg-8">
      <div class="row">
        <div class="col-lg-4">
          <div class="field">
            <h4><strong>Numero de caso:</strong>
            <%= @emergency.numero_caso %></h4>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="field">
            <h4><strong>Hora salida:</strong>
            <%= @emergency.hora_salida %></h4>              
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <div class="field">
            <h4><strong>Tipo:</strong>
            <%= @emergency.tipo %></h4>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="field">
            <h4><strong>Lugar:</strong>
            <%= @emergency.lugar %></h4>              
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <div class="field">
            <h4><strong>Denunciante:</strong>
            <%= @emergency.denunciante %></h4>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="field">
            <h4><strong>Telefono del denunciante:</strong>
            <%= @emergency.telefono_denunciante %></h4>              
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <div class="field">
            <h4><strong>Sigla del vehiculo:</strong>
            <%= @emergency.vehicle.sigla %></h4>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="field">
            <h4><strong>Despachador:</strong>
            <%= @emergency.user.nombre + " " + @emergency.user.apellido %></h4>              
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <div class="field">
            <h4><strong>Referencia del lugar:</strong>
            <%= @emergency.referencia_lugar %></h4>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="field">
            <h4><strong>Observacion:</strong>
            <%= @emergency.observacion %></h4>            
          </div>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
          <div id="map">
          <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x250&sensor=false&zoom=16&markers=#{@emergency.latitude}%2C#{@emergency.longitude}" %>
          </div>
        </div>
    </div>
  </div>
  <div class="page-header">
       <h2 id="forms">Añadir formulario:</h2>
  </div>
  <div class="field">
    <a data-no-turbolink="true" href="<%=new_form_explosive_path(@emergency)%>" class="btn btn-primary btn-sm active" role="button">Explosivos</a>
    <a href="#" class="btn btn-warning btn-sm active" role="button">Rescate</a>
    <a href="#" class="btn btn-danger btn-sm active" role="button">Incendio</a>
    <a href="#" class="btn btn-success btn-sm active" role="button">Atencion Prehospitalaria</a>
  </div>
  <div class="field">
    <a href="<%=emergencies_path%>" class="btn btn-default btn-sm active" role="button">Lista de emergencias</a>
  </div>
</div>