<%= render 'ruta' %>
<br>
<div class="col-md-12">
  <div class="page-header">
       <h2 id="forms">Emergencia</h2>
  </div>
</div>

<div class="container">
  <div class="row clearfix">
    <div class="col-md-4 column">
      
      <form role="form">
        <h4>
        <div class="form-group">
           <label for="exampleInputEmail1">Numero de caso:</label>
            <%= @emergency.numero_caso %>
        </div>
        <div class="form-group">
           <label for="exampleInputPassword1">Denunciante:</label>
              <%= @emergency.denunciante %>
        </div>
        <div class="form-group">
           <label for="exampleInputPassword1">Direccion:</label>
           <%= @emergency.lugar %>
        </div>
        <div class="form-group">
           <label for="exampleInputPassword1">Tipo:</label>
           <%= @emergency.tipo %>
        </div>
        <div class="form-group">
           <label for="exampleInputPassword1">Observacion:</label>
           <%= @emergency.observacion %>
        </div>
        </h4>

        <div class="page-header">
          <h3 id="forms">Acciones:</h3>
        </div>
        <div class="field">
          <%= link_to "Imprimir emergencia (PDF)", emergency_path(@emergency, format: "pdf"), class:"btn btn-default btn-sm active" %>

          <%= link_to 'Editar Emergencia', edit_emergency_path(@emergency), :class => 'btn btn-default btn-sm active','data-no-turbolink' => true %>
          <BR>
          <BR>
          <a href="<%=formularios_path(@emergency)%>" class="btn btn-default btn-sm active" role="button">Ver Formularios</a>
        </div>
      </form>
    
    </div>

    <div class="col-md-4 column">
      
      <form role="form">
        <h4>
        <div class="form-group">
           <label for="exampleInputEmail1">Hora de salida:</label>
           <%= @emergency.hora_salida.strftime("%Y/%m/%e %I:%M") %>
        </div>
        <div class="form-group">
           <label for="exampleInputPassword1">Telefono Denunciante:</label>
           <%= @emergency.telefono_denunciante %>
            
        </div>
        <div class="form-group">
           <label for="exampleInputPassword1">Referencia del lugar:</label>
           <%= @emergency.referencia_lugar %>
        </div>
        <div class="form-group">
           <label for="exampleInputPassword1">Despachador:</label>
           <%= @emergency.user.nombre + " " + @emergency.user.apellido %>
        </div>
        <div class="form-group">
           <label for="exampleInputPassword1">Sigla vehiculo:</label>
           <%= @emergency.vehicle.sigla %>
        </div>
        </h4>
      </form>
    
    </div>

    <div class="col-md-4 column">
      <div id="map-canvas" style="width:400px; height:400px"></div>
    </div> 
  </div>

    <div class="page-header">
      <h3 id="forms">Añadir formulario:</h3>
    </div>

  <div class="field">
    <% if Emergency.contador_explosivos(@emergency.id) == 0 %>
    <a data-no-turbolink="true" href="<%=new_form_explosive_path(@emergency)%>" class="btn btn-primary btn-sm active" role="button">Explosivos</a>
    <% end %>

    <% if @emergency.rescues.count == 0 %>
    <a data-no-turbolink="true" href="<%=new_form_rescue_path(@emergency)%>" class="btn btn-warning btn-sm active" role="button">Rescate</a>
    <% end %>

    <% if @emergency.fires.count == 0 %>
    <a data-no-turbolink="true" href="<%=new_form_fire_path(@emergency)%>" class="btn btn-danger btn-sm active" role="button">Incendio</a>
    <% end %>

    <% if @emergency.pre_hospitals.count == 0 %>
    <a data-no-turbolink="true" href="<%=new_form_pre_hospital_path(@emergency)%>" class="btn btn-success btn-sm active" role="button">Atencion Prehospitalaria</a>
    <% end %>
  </div>
  <div class="field">
    <a href="<%=emergencies_path%>" class="btn btn-default btn-sm active" role="button">Ir a Todas las emergencias</a>
  </div>
</div>