<p id="notice"><%= notice %></p>
<br>
<div class="col-lg-12">
  <div class="page-header">
       <h2 id="forms">Emergencia</h2>
  </div>
</div>


<div class="container">
  <div class="row clearfix">
    <div class="col-md-4 column">
      
      <form role="form">
        <h4>
        <div class="form-group">
           <label for="exampleInputEmail1">Numero de caso</label>
            <%= @emergency.numero_caso %>
        </div>
        <div class="form-group">
           <label for="exampleInputPassword1">Denunciante</label>
              <%= @emergency.denunciante %>
        </div>
        <div class="form-group">
           <label for="exampleInputPassword1">Direccion</label>
           <%= @emergency.lugar %>
        </div>
        <div class="form-group">
           <label for="exampleInputPassword1">Tipo</label>
           <%= @emergency.tipo %>
        </div>
        <div class="form-group">
           <label for="exampleInputPassword1">Observacion</label>
           <%= @emergency.observacion %>
        </div>
        </h4>
      </form>
    
    </div>

    <div class="col-md-4 column">
      
      <form role="form">
        <h4>
        <div class="form-group">
           <label for="exampleInputEmail1">Hora de salida</label>
           <%= @emergency.hora_salida.strftime("%Y/%m/%e %I:%M") %>
        </div>
        <div class="form-group">
           <label for="exampleInputPassword1">Telefono Denunciante</label>
           <%= @emergency.telefono_denunciante %>
            
        </div>
        <div class="form-group">
           <label for="exampleInputPassword1">Referencia del lugar</label>
           <%= @emergency.referencia_lugar %>
        </div>
        <div class="form-group">
           <label for="exampleInputPassword1">Despachador</label>
           <%= @emergency.user.nombre + " " + @emergency.user.apellido %>
        </div>
        <div class="form-group">
           <label for="exampleInputPassword1">Sigla vehiculo</label>
           <%= @emergency.vehicle.sigla %>
        </div>
        </h4>
      </form>
    
    </div>

    <div class="col-md-4 column">
      <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x250&sensor=false&zoom=16&markers=#{@emergency.latitude}%2C#{@emergency.longitude}" %>
    </div>
  </div>

  <div class="page-header">
       <h2 id="forms">Añadir formulario:</h2>
  </div>
  <div class="field">
    <a data-no-turbolink="true" href="<%=new_form_explosive_path(@emergency)%>" class="btn btn-primary btn-sm active" role="button">Explosivos</a>
    <a href="#" class="btn btn-warning btn-sm active" role="button">Rescate</a>
    <a href="#" class="btn btn-danger btn-sm active" role="button">Incendio</a>
    <a href="#" class="btn btn-success btn-sm active" role="button">Atencion Prehospitalaria</a>
  </div>
  <div class="field">
    <a href="<%=emergencies_path%>" class="btn btn-default btn-sm active" role="button">Lista de emergencias</a>
  </div>
</div>