<%= render 'mapa' %>
<%= nested_form_for @pre_hospital, :html => { :class => 'form-horizontal', :role => 'form' } do |f| %>
  <% if @pre_hospital.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pre_hospital.errors.count, "error") %> prohibited this pre_hospital from being saved:</h2>

      <ul>
      <% @pre_hospital.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="col-md-8 column">
  <div class="row">
    <div class="col-md-12 column">
      <div class="well">
        <fieldset>
        <div class="row">
          <div class="col-md-5 column">
            <div class="form-group">
              <%= f.label :numero_caso, "Numero de caso" %><br>
              <%= f.text_field :numero_caso, :class=>'form-control input-sm', :readonly => true, :value => @emergency.numero_caso %>
             </div>
          </div>
          <div class="col-lg-2">
            <div class="form-group">
              
            </div>
          </div>
          <div class="col-md-5 column">
            <div class="form-group">
              <%= f.label :lugar_incidente, "*Lugar del incidente" %><br>
              <%= f.text_field :lugar_incidente, :class=>'form-control input-sm', :value => @emergency.lugar, :maxlength => 30 , :title => "Por favor ingrese la direccion", :required => true %>
              <input type="button" value="Ver en el mapa" onclick="codeAddress()">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5 column">
            <div class="form-group">
              <%#= f.label :fecha, "Fecha" %><br>
              <%#= f.date_select :fecha, :class=>'form-control input-sm' %>
            </div>
          </div>
          <div class="col-lg-2">
            <div class="form-group">
              
            </div>
          </div>
          <div class="col-md-5 column">
            <div class="form-group" >
              <%= f.label :hora_incidente, "*Fecha y Hora" %><br>
              <%= f.text_field :hora_incidente, :class=>'form-control input-sm', :value => @emergency.hora_salida.strftime("%Y/%m/%e %I:%M"), :maxlength => 30 , :title => "Por favor ingrese la fecha y hora", :required => true %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5 column">
            <div class="form-group">
              <label for="exampleInputPassword1">Accidente Vehicular</label>
                <select id = "accidente_vehicular" name = "pre_hospital[accidente_vehicular]" class='form-control input-sm' >
                  <option value="Colision/Choque">Colision/Choque</option>
                  <option value="Atropello">Atropello</option>
                  <option value="Vuelque">Vuelque</option>
                  <option value="Otro">Otro</option>
                </select>
            </div>
          </div>
          <div class="col-lg-2">
            <div class="form-group">
              
            </div>
          </div>
          <div class="col-md-5 column">
            <div class="form-group">
              <label for="exampleInputPassword1">Peritaje Vehicular</label>
                <select id = "peritaje_vehicular" name = "pre_hospital[peritaje_vehicular]" class='form-control input-sm' >
                  <option value="Chofer">Chofer</option>
                  <option value="Copiloto">Copiloto</option>
                  <option value="Pasajero">Pasajero</option>
                </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5 column">
            <div class="form-group">
              <label for="exampleInputPassword1">Trauma</label>
                <select id = "trauma" name = "pre_hospital[trauma]" class='form-control input-sm' >
                  <option value="TEC">TEC</option>
                  <option value="Arma">Arma</option>
                  <option value="Caida">Caida</option>
                  <option value="Quemadura">Quemadura</option>
                </select>
            </div>
          </div>
          <div class="col-lg-2">
            <div class="form-group">
              
            </div>
          </div>
          <div class="col-md-5 column">
            <div class="form-group">
              <label for="exampleInputPassword1">Prioridad en el traslado</label>
                <select id = "prioridad_traslado" name = "pre_hospital[prioridad_traslado]" class='form-control input-sm' >
                  <option value="Ligeramente inestable">Ligeramente inestable</option>
                  <option value="Urgente estable">Urgente estable</option>
                  <option value="No urgente">No urgente</option>
                  <option value="Fallecido">Fallecido</option>
                </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 column">
            <div class="form-group">
              <label for="exampleInputPassword1">Diagnostico</label>
              <%= f.text_area :diagnostico, :class=>'form-control', :maxlength => 400 , :title => "Por favor ingrese el diagnostico " %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 column">
            <div class="form-group">
              <label for="exampleInputPassword1">Desarrollo de la atencion</label>
              <%= f.text_area :desarrollo_atencion, :class=>'form-control', :maxlength => 400 , :title => "Por favor rellene este campo" %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 column">
            <div class="form-group">
              <label for="exampleInputPassword1">Pertenencias de la victima</label>
              <%= f.text_area :pertenencias_victima, :class=>'form-control', :maxlength => 30 , :title => "Por favor ingrese las pertenecias de la victima" %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <%= f.hidden_field :emergency_id, :value => @emergency.id%>
        </div>
        <div class="form-group">
          <%= f.hidden_field :latitude, :value => @emergency.latitude %>
        </div>
        <div class="form-group">
          <%= f.hidden_field :longitude, :value => @emergency.longitude %>
        </div>
        <div class="page-header">
          <h2>Bomberos que intervinieron</h2>
        </div>
        <%= f.fields_for :assist_pre_hospitals %>
        <p><%= f.link_to_add "Agregar Bombero", :assist_pre_hospitals, :class=> 'btn btn-success pull-right' %></p>
        <BR>
        <BR>
        
        <div class="form-group">
          <input type="submit" value="Registrar Formulario" class="btn btn-primary">
        </div>
        </fieldset>
      </div>
    </div>
  </div>
</div>
<% end %>

  <div class="col-md-4 column">
    <div id="map" style="width:500px; height:500px"></div>
  </div>