<p id="notice"><%= notice %></p>

<p>
  <strong>Numero caso:</strong>
  <%= @pre_hospital.numero_caso %>
</p>

<p>
  <strong>Hora incidente:</strong>
  <%= @pre_hospital.hora_incidente %>
</p>

<p>
  <strong>Accidente vehicular:</strong>
  <%= @pre_hospital.accidente_vehicular %>
</p>

<p>
  <strong>Peritaje vehicular:</strong>
  <%= @pre_hospital.peritaje_vehicular %>
</p>

<p>
  <strong>Trauma:</strong>
  <%= @pre_hospital.trauma %>
</p>

<p>
  <strong>Diagnostico:</strong>
  <%= @pre_hospital.diagnostico %>
</p>

<p>
  <strong>Prioridad traslado:</strong>
  <%= @pre_hospital.prioridad_traslado %>
</p>

<p>
  <strong>Desarrollo atencion:</strong>
  <%= @pre_hospital.desarrollo_atencion %>
</p>

<p>
  <strong>Pertenencias victima:</strong>
  <%= @pre_hospital.pertenencias_victima %>
</p>

<p>
  <strong>Emergency:</strong>
  <%= @pre_hospital.emergency %>
</p>

<%= link_to 'Edit', edit_pre_hospital_path(@pre_hospital) %> |
<%= link_to 'Back', pre_hospitals_path %>
