<br>
<div class="col-md-12">
  <div class="page-header">
       <h2 id="forms">Formulario de Atencion Pre Hospitalaria</h2>
  </div>
</div>
<div class="col-md-12">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4">
          <div class="field">
            <h4><strong>Numero de caso:</strong>
            <%= @pre_hospital.numero_caso %></h4>
          </div>
        </div>
        <div class="col-md-4">
          <div class="field">
            <h4><strong>Lugar:</strong>
            <%= @pre_hospital.lugar_incidente %></h4>              
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-4">
          <div class="field">
            <h4><strong>Fecha:</strong>
            <%= @pre_hospital.created_at %></h4>
          </div>
        </div>
        <div class="col-md-4">
          <div class="field">
            <h4><strong>Hora:</strong>
            <%= @pre_hospital.hora_incidente %></h4>              
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-4">
          <div class="field">
            <h4><strong>Accidente vehicular:</strong>
            <%= @pre_hospital.accidente_vehicular %></h4>
          </div>
        </div>
        <div class="col-md-4">
          <div class="field">
            <h4><strong>Peritaje vehicular:</strong>
            <%= @pre_hospital.peritaje_vehicular %></h4>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-4">
          <div class="field">
            <h4><strong>Trauma:</strong>
            <%= @pre_hospital.trauma %></h4>
          </div>
        </div>
        <div class="col-md-4">
          <div class="field">
            <h4><strong>Prioridad traslado:</strong>
            <%= @pre_hospital.prioridad_traslado %></h4>            
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-4">
          <div class="field">
            <h4><strong>Diagnostico:</strong>
            <%= @pre_hospital.diagnostico %></h4>
          </div>
        </div>
        <div class="col-md-4">
          <div class="field">
            <h4><strong>Desarrollo atencion:</strong>
            <%= @pre_hospital.desarrollo_atencion %></h4>            
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-4">
          <div class="field">
            <h4><strong>Pertenencias victima:</strong>
            <%= @pre_hospital.pertenencias_victima %></h4>
          </div>
        </div>
        <div class="col-md-4">
          <div class="field">
        
          </div>
        </div>
      </div>
      <br>
      <div class="col-md-8">
        <div class="page-header">
          <h3>Bomberos que intervinieron</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <div class="field">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Apellido Paterno</th>
                  <th>Apellido Materno</th>
                </tr>
              </thead>
              <tbody>
                <% @pre_hospital.assist_pre_hospitals.each do |a| %>
                <tr>
                  <td><%= a.user.nombre %></td>
                  <td><%= a.user.apellido %></td>
                  <td><%= a.user.ap_materno %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="field">
    <a href="<%=formularios_path(@emergency)%>" class="btn btn-default btn-sm active" role="button">Volver</a>
    <%= link_to "Imprimir formulario (PDF)", pre_hospital_path(@pre_hospital, format: "pdf"), class:"btn btn-default btn-sm active" %>
  </div>
</div>