<p id="notice"><%= notice %></p>
<br>
<div class="col-md-12">
  <div class="page-header">
       <h2 id="forms">Hospital</h2>
  </div>
</div>

<div class="container">
  <div class="row clearfix">
    <div class="col-md-4 column">
      
      <form role="form">
        <h4>
        <div class="form-group">
           <label for="exampleInputEmail1">Nombre del hospital</label>
            <%= @hospital.nombre_hospital %>
        </div>
        <div class="form-group">
           <label for="exampleInputPassword1">Telefono</label>
              <%= @hospital.telefono %>
        </div>
        <div class="form-group">
           <label for="exampleInputPassword1">Nivel</label>
           <%= @hospital.nivel %>
        </div>
        <div class="form-group">
           <label for="exampleInputPassword1">Tipo</label>
           <%= @hospital.tipo %>
        </div>
        <div class="form-group">
           <label for="exampleInputPassword1">Direccion</label>
           <%= @hospital.direccion %>
        </div>
        </h4>
      </form>
    
    </div>

    <div class="col-md-4 column">
      <div id="map">
        <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x450&sensor=false&zoom=16&markers=#{@hospital.latitude}%2C#{@hospital.longitude}" %>
      </div>
    </div> 
  </div>

 
  <div class="field">
    <a href="<%=hospitals_path%>" class="btn btn-default btn-sm active" role="button">Lista de hospitales</a>
  </div>
</div>