<br>
<br>
<br>
<br>
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
<div class="col-lg-4">
  <div class="well">
    <div class="row">
      <div class="col-lg-12">
		  <div class="form-group">
		  	<%= f.label :username %>
		  	<%= f.text_field :username, :autofocus => true, :class=>'form-control input-sm' %>
		  </div>

		  <div class="form-group">
		  	<%= f.label :password, "Contraseña" %>
		  	<%= f.password_field :password, :class=>'form-control input-sm' %>
		  </div>

		  <% if devise_mapping.rememberable? -%>
		    <div class="form-group">
		    	<%= f.check_box :remember_me %> <%= f.label :remember_me, "¿recordarme?" %>
		    </div>
		  <% end -%>
		  <div class="form-group">
          	<input type="submit" value="Ingresar" class="btn btn-primary">
          </div>
		</div>
	</div>
  </div>
</div>
<% end %>

<!--<%= render "devise/shared/links" %>-->
