<%= nested_form_for @vehicle, :html => { :class => 'form-horizontal', :role => 'form' } do |f| %>
  <% if @vehicle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>

      <ul>
      <% @vehicle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="col-md-4">
  <div class="well">
    <div class="row">
      <div class="col-md-12">
        <fieldset>
          <div class="form-group">
            <%= f.label :sigla, "Sigla del vehiculo" %><br>
            <%= f.text_field :sigla, :class=>'form-control input-sm', :maxlength => 30 , :title => "Por favor ingrese la sigla del vehiculo", :required => true %>
          </div>
          <div class="form-group">
            <%= f.label :placa, "Placa del vehiculo" %><br>
            <%= f.text_field :placa, :class=>'form-control input-sm', :maxlength => 30 , :title => "Por favor ingrese la placa del vehiculo", :required => true %>
          </div>
          <div class="form-group">
            <%= f.label :modelo, "Ingrese el modelo del vehiculo" %><br>
            <%= f.text_field :modelo, :class=>'form-control input-sm', :maxlength => 30 , :title => "Por favor ingrese el modelo del vehiculo", :required => true %>
          </div>
          <div class="form-group">
            <%= f.label :especialidad, "Especialidad del vehiculo" %><br>
            <select id = "vehicle_especialidad" name = "vehicle[especialidad]" class='form-control input-sm' >
                  <option value="incendio">Camion bombero</option>
                  <option value="ambulancia">Ambulancia</option>
              </select>
          </div>
          <%= f.fields_for :drivers %>
          <div class="form-group">
            <input type="submit" value="Registrar" class="btn btn-primary">
            <a href="<%=vehicles_path%>" class="btn btn-default btn-sm active" role="button"> Atras </a>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
</div>
<% end %>