<br>
<br>
<div class="col-lg-12">
  <div class="page-header">
       <h1 id="forms">Lista de Vehiculos</h1>
  </div>
</div>

<div class="col-lg-8">
  <div class="well">
    <div class="row">
      <div class="col-lg-12">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Sigla</th>
              <th>Placa</th>
              <th>Modelo</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @vehicles.each do |vehicle| %>
              <tr>
                <td style= 'cursor:pointer' onclick=<%="document.location.href='/vehicles/"+vehicle.id.to_s+"'"%>><%= vehicle.sigla %></td>
                <td style= 'cursor:pointer' onclick=<%="document.location.href='/vehicles/"+vehicle.id.to_s+"'"%>><%= vehicle.placa %></td>
                <td style= 'cursor:pointer' onclick=<%="document.location.href='/vehicles/"+vehicle.id.to_s+"'"%>><%= vehicle.modelo %></td>
                <td align="center">
                    <%= link_to 'Editar', edit_vehicle_path(vehicle), :class => 'btn btn-primary btn-sm' %>
                    <%= link_to 'Eliminar', vehicle, method: :delete, :class => 'btn btn-danger btn-sm', data: { confirm: 'Esta seguro?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <a href="<%=new_vehicle_path%>" class="btn btn-primary btn-sm active" role="button">Registrar Nuevo vehiculo</a>
</div>