<br>
<br>
<div class="col-md-12">
  <div class="page-header">
       <h1 id="forms">Asistencia a Rescates</h1>
  </div>
</div>

<div class="col-md-10">
  <div class="well">
    <div class="row">
      <div class="col-md-12">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Rango</th>
              <th>Numero de asistencias</th>
            </tr>
          </thead>

          <tbody>
            <% @usuarios.each do |user| %>
                <tr>
                  <td><%= user.nombre %></td>
                  <td><%= user.apellido %></td>
                  <td><%= user.rango %></td>
                  <td><%= user.assist_rescues.count %></td>
                </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <p>
      Descargar:
        <%=link_to 'Archivo CSV (excel)', asistencias_rescates_path, :class => "btn btn-default btn-sm active" %>
    </p>
  </div>
  <div class="field">
    <a data-no-turbolink="true" href="<%=asistencia_incendios_path%>" class="btn btn-danger btn-sm active" role="button">Asistencia Incendios</a>
    <a data-no-turbolink="true" href="<%=asistencia_explosivos_path%>" class="btn btn-primary btn-sm active" role="button">Asistencia Explosivos</a>
    <a data-no-turbolink="true" href="<%=asistencia_pre_hospitalarios_path%>" class="btn btn-success btn-sm active" role="button">Asistencia Atencion Prehospitalaria</a>
  </div>
  <BR>
  <center><%= paginate @usuarios %></center>
</div>